
#header{
	background-image:url(../img/hero.jpg);
  background-size:cover; 
   background-repeat:no-repeat;
    background-position: center; 
    height: 1000px;
}


.webtitle span{
  color: white;
  position: absolute;
  top: 30%;
  font-size: 5em;
  text-align: center; 
   text-align: center; 
    width:100%; 
  height:0;
}

.jobtitle span{
  color: white;
  position: absolute;
  top: 45%;
  font-size: 2em;
  text-align: center; 
   text-align: center; 
    width:100%; 
  height:0;

}

.parallax {
    /* The image used */
    background-image: url(../img/mountain.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*side nav*/
/*background side nav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 700;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; 
    text-align: center;
}

                                  /*menu button*/
#menubtn{
	display: none;
    position: fixed;
    top: 2%;
    right: 25px;
    font-size: 2.5em;
    cursor: pointer;
    color: gold;
    z-index: 501;
}


/*Text inside side bar*/
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2em;
    color: #818181;
    display: block;
    transition: 0.3s
}


/*hover color over links*/
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}


/*X close button */ 
.closebtn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 75px;
}



#aboutMe{
  background-color: #efefef;

}

#content2{
background-color: #202020;
}


#title{
  	text-align: center;
	font-size: 6em;
	color: black;	
	position: relative;  
     height:100px;
    width:100px;
    left:52%;
    top:18%;
    margin-top:-50px;
    margin-left:-50px;
  font-family: 'Open Sans', sans-serif;
  border-style: solid;
}


.logo{
	width: 6%;
	position: absolute;
	top: 0%;
}

body {
  margin: 0;
  padding:0;
}

.headpic{
	height: 1000px;
	width: 100%;
	width: cover;
	margin: 0;
	
}


img{
max-width: 100%;
}




.top {
	font-size: 30px;
}

.top a{
	color: black;
	display: inline-block;
	float: right;
	padding: 12px;
	margin: 20px 20px 0 0;
  font-family: 'Open Sans', sans-serif;
}

.top a:hover{
	color: gold;
}

							



#main {
    transition: margin-left .5s;
    padding: 16px;
}


/*Headers*/
h1{
	font-size: 4em;
	text-align: center;
	text-decoration: underline;
	color: black;
}


h3 {
	font-size: 4em;
	text-align: center;
	text-decoration: underline;
	color: white;
}


h5{
	font-size: 2em;
  margin:0;

}


h6{
	font-size: 7em;
	color: white;
	text-align: center;
	text-decoration: underline;
  padding-bottom: 25%;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;

}


#content1 {
	height: 100vh;
	width: 100%;
}



/*
#nav {
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
	mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
	position: fixed;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
	right: 0px;
	height: 120px;
	width: 100%;
	top: 0;
	z-index: 500;
*/ 

#nav {
	position: fixed;
	background-color: #282828;
	height: 120px;
	width: 100%;
	top: 0;
	z-index: 500;
}



}


#nav a:hover {
	color: teal;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.1);	  
}


#linkedin:hover{
	opacity: 0.7;
}


label {
	width: 48%;
	margin-right: 2%;
	display: block;

}


#content4 {
	background-color: #35586C ;

}


form {
	position: relative;
	display: inline-block;
}



#post1,#post2,#post3 {
	font-size: 2em;
	text-indent: 50px;
}



.top a{
	font-size: 1em;
	color: white;
	text-decoration: none;
}



/* Web-Portfolio page*/ 
#portfolio{
  height: 1000px;
}


.web1 p{
	font-size: 1.4em;
	margin-right: 20%;
	color: white;
	position: relative;
	float: right;
}

.portfolio1{
	width: 34%;
}


#linked, #face, #git{
  width: 5%; 
  padding: 3%;
}

#email{
  text-align: center; 
  color: white; 
  font-size: 2em; 
  margin: 0;
}


.tag{
  display: inline-block;
  background: orange;
  color: white;
  padding: 5px 10px;
  margin:2px;
  font: normal 1em sans-serif;
  position: relative;
  border-radius: 10px;
}

.tags{
	margin-top: 1%;
}



/*Flip card*/

h4 {
  font-size: 1.5em;
}
#week-wrap {
  height: auto;
  max-width: 100%;
  width: auto;
  background-color: #efefef;
  text-align: center;
  padding-bottom: 5%;
}
#card,
#card2,
#card3 {
  text-align: center;
  position: relative;
  display: inline-block;
  max-width: 30%;
  cursor: pointer;
  margin: 1%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-style: solid;
}
.back {
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  color: white;
  background-color: #0099cc;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.figcaption {
  text-align: center;
  width: 100%;
  height: 0;
  font-size: 4em;
  line-height: 0;
  color: white;
  position: absolute;
  top: 10%;
  z-index: 1;
}
#card img {
  -webkit-display: block;
  display: block;
  max-width: 100%;
}
#card2 img {
  display: block;
  max-width: 100%;
}
#card3 img {
  display: block;
  max-width: 100%;
}
.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}


.box {
	background-color: #202020;
	color: gold;
	padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    position: relative;
    left: 10%;
}	

.box2{
	background-color: #202020;
	color: green;
	padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    position: relative;
    left: 20%;
}


.box:hover {
	 background-color: black;
	 color: white;
}				

.box2:hover{
	background-color: black;
	 color: white;
}


#email a{ 
  color: white; 
}

#email a:hover{ 
  color: gold; 
}


/* Media Queries*/

@media screen and (max-width: 1700px) {

	h2 { font-size: 3em; }	
	#header {background-size: 1700px; }
	#content1{height: 1000px;}
	.web1 p{font-size: 1.2em;}
	.web2 p{font-size: 1.2em;}
}

@media screen and (max-width: 1300px) {
	h2 { font-size: 2.5em; }	
	#header {background-size: 1300px; }
	#header{height: 900px;}
	#content1{height: 800px;}
	h3 {font-size: 2.5em;}
	.web1 p{font-size: 1em;}
	.web2 p{font-size: 1em;}
}

@media screen and (max-width: 1000px) {
	h2 { font-size: 2.3em; }
	#header{height: 800px;}
	#content1{height: 700px;}
	.headpic{height: 800px;}
	.web1 p{font-size: 0.9em;}
	.web2 p{font-size: 0.9em;}
	.figcaption{font-size: 1.5em;}
	.figcaption{color: black;}
}

@media screen and (max-width: 770px) {
	h2 { font-size: 1.5em; }
	#header{height: 600px; }
	#content1{height: 600px;}
	#title{font-size: 2.5em; top: 20%; right: 15%; } 
	.top a{font-size: 0.34em;}  
	.top a{margin-top: 35px;} 
	h3{ font-size: 2.5em; } 
	.headpic{height: 600px;}
	h6{font-size: 3em;}
	.box{font-size: 0.9em;}
	#nav{height: 90px;}
	.logo{width: 12%;}
	.web1 p{font-size: 0.9em;}
	h5{font-size: 2.5em;}
  #linked, #face, #git{width: 10%;}
  #email{font-size: 1em;}
   #front3{width: 10px;}   
   h4{font-size: 1.4em;}
   .figcaption{font-size: 2em;}
   #back{font-size: 2.5em;}
   #br2{display: none;}
   #title{top: 20%; font-size: 2.7em;}
   .designs{display: block;}
   .designs img{width: 100%; padding: 0.5%;}
   	#card, #card2, #card3 {-webkit-backface-visibility: hidden; display: block;max-width: 100%;  }
   	#back{-webkit-backface-visibility: hidden;} 
  #header {background-size: 1050px; }
  .portfolio1{ width: 100%;}
  .top a{display: none;}
 	#menubtn{display: block; font-size: 1.8em;}
  .webtitle span{font-size: 3.5em;}
  .jobtitle span{font-size: 1.2em;}
}


					







